:root {
  --clr-blue-reg: #195da6;
  --clr-yellow-reg: #ffdd00;
  --clr-black-reg: #222;
  --clr-grey-dark: #434549;
  --clr-grey-reg: #797a7f;
  --clr-grey-bright: #aba9a8;
  --clr-white-reg: #ddd;
  --clr-white-bright: #eee;
}